#axes-color-picker .chrome-picker {
    border: none !important;

}

#tick-color-picker .chrome-picker {
    border: none !important;

}
#grid-type .cmSQpo {
    background-color: #2b7b26;
}
#label-type .cmSQpo {
    background-color: #2b7b26;
}
#line-type .cmSQpo {
    background-color: #2b7b26;
}
#grid-type .eMfdXL{
    background-color: #2b7b26;
}

#label-type .eMfdXL{
    background-color: #2b7b26;
}

#line-type .eMfdXL{
    background-color: #2b7b26;
}

.rc-slider-track{
    background-color:#747b7d;
}
.rc-slider-handle{
    background-color:#747b7d;
    border: solid 2px #747b7d;
}
.rc-slider-dot-active{
    border-color:#747b7d;
}
.rc-slider-handle:hover{
    border-color:#747b7d;
}